.ui.card>.image,
.ui.cards>.card>.image {
  background: none;
}

.ui.card>.content>.header:not(.ui),
.ui.cards>.card>.content>.header:not(.ui) {
  font-size: 1.2em;
}

.ui.card .meta,
.ui.cards>.card .meta {
  color: rgba(0, 0, 0, .68);
}

.ui.card>.content,
.ui.cards>.card>.content {
  padding: .5em .5em;
}

.ui.tiny.image {
  width: 80px;
  height: 58px;
}

.ui.floated.image {
  margin-right: .5em;
  margin-bottom: 0;
}

